/App/PIC.API/PIC.API.UI/obj
/App/PIC.API/PIC.API.UI/bin
/App/PIC.API/PIC.API.InfraData/obj
/App/PIC.API/PIC.API.InfraData/bin
/App/PIC.API/PIC.API.Croscutting/obj
/App/PIC.API/PIC.API.Croscutting/bin
/App/PIC.API/PIC.API.Domain/obj
/App/PIC.API/PIC.API.Domain/bin
/App/PIC.API/PIC.API.Infra/obj
/App/PIC.API/PIC.API.Infra/bin
/App/PIC.API/.vs/PIC.API/DesignTimeBuild/.dtbcache
/App/PIC.API/.vs/PIC.API/v16/Server/sqlite3/storage.ide
/App/PIC.API/.vs/PIC.API/v16/.suo
/App/PIC.API/.vs/OPA/config/applicationhost.config
/App/PIC.API/.vs/OPA/v16/.suo
/App/PIC.API/.vs/OPA/v16/Server/sqlite3/db.lock
/App/PIC.API/.vs/OPA/v16/Server/sqlite3/storage.ide
/App/PIC.API/.vs
/App/OPA/.vs
/App/OPA/OPA.Croscutting/obj
/App/OPA/OPA.Croscutting/bin
/App/OPA/OPA.Domain/obj
/App/OPA/OPA.Domain/bin
/App/OPA/OPA.Infra/obj
/App/OPA/OPA.Infra/bin
/App/OPA/OPA.InfraData/bin
/App/OPA/OPA.InfraData/obj
/App/OPA/OPA.UI/obj
/App/OPA/OPA.UI/bin
